{{extend 'template.html'}}

<section class="pb_section cover-bg-indigo cover-bg-opacity pb_gradient_v1" id="section-faq">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-6 text-center">
            <h5 class="text-uppercase pb_font-15 mb-2 pb_color-dark-opacity-3 pb_letter-spacing-2"><strong>FAQ</strong></h5>
            <h2 class="text-white">Frequently Ask Questions</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md bg-white rounded">
            <div id="pb_faq" class="pb_accordion" data-children=".item">
              <div class="item">
                <a data-toggle="collapse" data-parent="#pb_faq" href="#pb_faq1" aria-expanded="true" aria-controls="pb_faq1" class="pb_font-22 py-4">What is ShroomPred?</a>
                <div id="pb_faq1" class="collapse show" role="tabpanel">
                  <div class="py-3">
                  <p>ShroomPred is a mushroom edibility prediction app.</p>
                  <p>Based on observable physical features as well as biological properties, the app can predict whether it is edible or poisonous. </p>
                  </div>
                </div>
              </div>
              <div class="item">
                <a data-toggle="collapse" data-parent="#pb_faq" href="#pb_faq2" aria-expanded="false" aria-controls="pb_faq2" class="pb_font-22 py-4">I am getting Error or Unknown prediction, is this usual?</a>
                <div id="pb_faq2" class="collapse" role="tabpanel">
                  <div class="py-3">
                    <p>The model for predicting the edibility of the mushroom was done based on the mushroom Kaggle competition, and follows the labels found here: {{=A("https://www.kaggle.com/uciml/mushroom-classification", _href="https://www.kaggle.com/uciml/mushroom-classification")}}.</p>
                    <p>Based on the metadata, there are more label types than found in our training data, therefore, sometimes it produces an Unknown edibility status prediction. The error, in this exercise, also show the unknown status including some other types of error that may occur during submission of the data to the prediction engine.</p>
                    <p>We are continuously trying to improve our training data and will try to show more meaningful errors in the future.</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <a data-toggle="collapse" data-parent="#pb_faq" href="#pb_faq3" aria-expanded="false" aria-controls="pb_faq3" class="pb_font-22 py-4">Why should I signup or login?</a>
                <div id="pb_faq3" class="collapse" role="tabpanel">
                  <div class="py-3">
                    <p>Logging in will allow you to access the REST documentation and past History of the predictions performed by this server.</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <a data-toggle="collapse" data-parent="#pb_faq" href="#pb_faq4" aria-expanded="false" aria-controls="pb_faq4" class="pb_font-22 py-4">I don't want to signup just to learn about the REST Api documentation, what do I do?</a>
                <div id="pb_faq4" class="collapse" role="tabpanel">
                  <div class="py-3">
                    <p>Well today is your lucky day, I have not enforced role-based authentication (RBAC). You can read the API documentation {{ =A("here", _href=URL("restdoc.html")) }}. And, obtain the History {{ =A("here", _href=URL("history.html")) }}.</p>
                  </div>
                </div>
              </div>

              <div class="item">
                <a data-toggle="collapse" data-parent="#pb_faq" href="#pb_faq5" aria-expanded="false" aria-controls="pb_faq5" class="pb_font-22 py-4">I have technical problem, who do I email?</a>
                <div id="pb_faq5" class="collapse" role="tabpanel">
                  <div class="py-3">
                    <p>You can e-mail the Author at {{=A("ranjeev.hari@gmail.com", _href="mailto:ranjeev.hari@gmail.com")}}</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>